{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/bootstrap.min.css' %}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/font-awesome.min.css' %}">
<!-- Feathericon CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/feathericon.min.css' %}">
<!-- Datatables CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/plugins/datatables/datatables.min.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'salonist/assets/css/style.css' %}">