{% extends 'finance/layout/base.html' %}
{% load static %}
{% block title %}Booking Payment List{% endblock title %}
{% include 'finance/includes/data-table-styles.html' %}
{% include 'finance/includes/header.html' %}
{% include 'finance/includes/sidebar.html' %}
{% block content %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">List of Booking Payment</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'finance:index' %}">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:(0);">Booking Payment</a></li>
							<li class="breadcrumb-item active">Booking Payment</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Transaction Id</th>
											<th>service Name</th>
											<th>Description</th>
											<th>Price</th>
											<th>Customer</th>
											<th>Mpesa Code</th>
											<th>Phone</th>
											<th>Amount</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										{% for object in object_list %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{object.transaction_id}}</td>
											<td>
												<h2 class="table-avatar">
													<a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img" src="{{object.booking.service.image.url}}" alt="{{object.booking.service.name}}"></a>
													<a href="#">{{object.booking.service.name}}</a>
												</h2>
											</td>
											<td>{{object.booking.service.description}}</td>
											<td>{{object.booking.service.price}}</td>
											<td>{{object.booking.customer.get_full_name}}</td>
											<td>{{object.mpesa}}</td>
											<td>{{object.phone}}</td>
											<td>{{object.amount}}</td>
											<td>{{object.created}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}
{% include 'finance/includes/data-table-scripts.html' %}