{% extends 'customer/layouts/base.html' %}
{% load static %}
{% block styles %}
{% include 'home/includes/styles.html' %}
{% endblock styles %}
{% block content %}
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-8 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Search</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">{{count}} matches found for : {{search}}</h2>
				</div>
				<div class="col-md-4 col-12 d-md-block d-none">
					<div class="sort-by">
						<span class="sort-title">Sort by</span>
						<span class="sortby-fliter">
							<select class="select">
								<option>Select</option>
								<option class="sorting">Rating</option>
								<option class="sorting">Popular</option>
								<option class="sorting">Latest</option>
								<option class="sorting">Free</option>
							</select>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->

	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">

				<div class="col-md-12 col-lg-12 col-xl-12">
					{% for object in services %}
					<!-- Doctor Widget -->
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<a href="doctor-profile.html">
											<img src="{{object.image.url}}" class="img-fluid" alt="{{object.name}}" style="height: 200px; object-fit: cover;">
										</a>
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name"><a href="doctor-profile.html">{{object.name}}</a></h4>
										<p class="doc-speciality">{{object.description}}</p>
										<!--<div class="clinic-details">-->
										<!--	<ul class="clinic-gallery">-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-01.jpg' %}" data-fancybox="gallery">-->
										<!--				<img src="{% static 'customer/assets/img/features/feature-01.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-02.jpg' %}" data-fancybox="gallery">-->
										<!--				<img  src="{% static 'customer/assets/img/features/feature-02.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-03.jpg' %}" data-fancybox="gallery">-->
										<!--				<img src="{% static 'customer/assets/img/features/feature-03.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-04.jpg' %}" data-fancybox="gallery">-->
										<!--				<img src="{% static 'customer/assets/img/features/feature-04.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--	</ul>-->
										<!--</div>-->
									</div>
								</div>
								<div class="doc-info-right">
									<div class="clinic-booking">
										<a class="view-pro-btn" href="{% url 'customer:service-detail' pk=object.id %}">View Service</a>
										<a class="apt-btn" href="{% url 'customer:add_booking' slug=object.id %}">Book Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
					{% endfor %}
					{% for object in products %}
					<!-- Doctor Widget -->
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<a href="doctor-profile.html">
											<img src="{{object.image.url}}" class="img-fluid" alt="{{object.name}}" style="height: 200px; object-fit: cover;">
										</a>
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name"><a href="doctor-profile.html">{{object.name}}</a></h4>
										<p class="doc-speciality">{{object.description}}</p>
										<!--<div class="clinic-details">-->
										<!--	<ul class="clinic-gallery">-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-01.jpg' %}" data-fancybox="gallery">-->
										<!--				<img src="{% static 'customer/assets/img/features/feature-01.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-02.jpg' %}" data-fancybox="gallery">-->
										<!--				<img  src="{% static 'customer/assets/img/features/feature-02.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-03.jpg' %}" data-fancybox="gallery">-->
										<!--				<img src="{% static 'customer/assets/img/features/feature-03.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--		<li>-->
										<!--			<a href="{% static 'customer/assets/img/features/feature-04.jpg' %}" data-fancybox="gallery">-->
										<!--				<img src="{% static 'customer/assets/img/features/feature-04.jpg' %}" alt="Feature">-->
										<!--			</a>-->
										<!--		</li>-->
										<!--	</ul>-->
										<!--</div>-->
									</div>
								</div>
								<div class="doc-info-right">
									<div class="clinic-booking">
										<button data-url="{% url 'customer:add_to_cart' slug=object.slug %}" data-slug="{{object.slug}}" id="{{object.slug}}"class="view-pro-btn add-to-cart-btn">Add to cart</button>
										<a class="apt-btn" href="{% url 'customer:add_to_wishlist' slug=object.slug %}">Add to Wishlist</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
					{% endfor %}
<!--					{% for object in salonists %}-->
<!--					&lt;!&ndash; Doctor Widget &ndash;&gt;-->
<!--					<div class="card">-->
<!--						<div class="card-body">-->
<!--							<div class="doctor-widget">-->
<!--								<div class="doc-info-left">-->
<!--									<div class="doctor-img">-->
<!--										<a href="doctor-profile.html">-->
<!--											<img src="{{object.salonistprofile.image.url}}" class="img-fluid" alt="{{object.get_full_name}}">-->
<!--										</a>-->
<!--									</div>-->
<!--									<div class="doc-info-cont">-->
<!--										<h4 class="doc-name"><a href="doctor-profile.html">{{object.get_full_name}}</a></h4>-->
<!--										<p class="doc-speciality">{{object.description}}</p>-->
<!--&lt;!&ndash;										<div class="clinic-details">&ndash;&gt;-->
<!--&lt;!&ndash;											<ul class="clinic-gallery">&ndash;&gt;-->
<!--&lt;!&ndash;												<li>&ndash;&gt;-->
<!--&lt;!&ndash;													<a href="{% static 'customer/assets/img/features/feature-01.jpg' %}" data-fancybox="gallery">&ndash;&gt;-->
<!--&lt;!&ndash;														<img src="{% static 'customer/assets/img/features/feature-01.jpg' %}" alt="Feature">&ndash;&gt;-->
<!--&lt;!&ndash;													</a>&ndash;&gt;-->
<!--&lt;!&ndash;												</li>&ndash;&gt;-->
<!--&lt;!&ndash;												<li>&ndash;&gt;-->
<!--&lt;!&ndash;													<a href="{% static 'customer/assets/img/features/feature-02.jpg' %}" data-fancybox="gallery">&ndash;&gt;-->
<!--&lt;!&ndash;														<img  src="{% static 'customer/assets/img/features/feature-02.jpg' %}" alt="Feature">&ndash;&gt;-->
<!--&lt;!&ndash;													</a>&ndash;&gt;-->
<!--&lt;!&ndash;												</li>&ndash;&gt;-->
<!--&lt;!&ndash;												<li>&ndash;&gt;-->
<!--&lt;!&ndash;													<a href="{% static 'customer/assets/img/features/feature-03.jpg' %}" data-fancybox="gallery">&ndash;&gt;-->
<!--&lt;!&ndash;														<img src="{% static 'customer/assets/img/features/feature-03.jpg' %}" alt="Feature">&ndash;&gt;-->
<!--&lt;!&ndash;													</a>&ndash;&gt;-->
<!--&lt;!&ndash;												</li>&ndash;&gt;-->
<!--&lt;!&ndash;												<li>&ndash;&gt;-->
<!--&lt;!&ndash;													<a href="{% static 'customer/assets/img/features/feature-04.jpg' %}" data-fancybox="gallery">&ndash;&gt;-->
<!--&lt;!&ndash;														<img src="{% static 'customer/assets/img/features/feature-04.jpg' %}" alt="Feature">&ndash;&gt;-->
<!--&lt;!&ndash;													</a>&ndash;&gt;-->
<!--&lt;!&ndash;												</li>&ndash;&gt;-->
<!--&lt;!&ndash;											</ul>&ndash;&gt;-->
<!--&lt;!&ndash;										</div>&ndash;&gt;-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="doc-info-right">-->
<!--									<div class="clinic-booking">-->
<!--										<a class="view-pro-btn" href="#">View Profile</a>-->
<!--										<a class="apt-btn" href="#">Book Appointment</a>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					&lt;!&ndash; /Doctor Widget &ndash;&gt;-->
<!--					{% endfor %}-->
<!--					<div class="load-more text-center">-->
<!--						<a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>-->
<!--					</div>-->
				</div>
			</div>

		</div>

	</div>
	<!-- /Page Content -->
{% endblock content %}
{% block scripts %}
{% include 'home/includes/scripts.html' %}
{% endblock scripts %}