{% load static %}
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'manager/assets/img/favicon.png' %}">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'manager/assets/css/bootstrap.min.css' %}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{% static 'manager/assets/css/font-awesome.min.css' %}">
<!-- Feathericon CSS -->
<link rel="stylesheet" href="{% static 'manager/assets/css/feathericon.min.css' %}">
<link rel="stylesheet" href="{% static 'manager/assets/plugins/morris/morris.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'manager/assets/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">