{% extends 'manager/layout/base.html' %}
{% load static %}
{% block title %}Apprenticeship List{% endblock title %}
{% include 'manager/includes/data-table-styles.html' %}
{% include 'manager/includes/header.html' %}
{% include 'manager/includes/sidebar.html' %}
{% block content %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">List of Apprenticeship</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'manager:index' %}">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:(0);">Apprenticeship</a></li>
							<li class="breadcrumb-item active">Apprenticeship</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Salonist</th>
											<th>Date</th>
											<th>Created</th>
										</tr>
									</thead>
									<tbody>
										{% for object in object_list %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
												<h2 class="table-avatar">
													<a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img" src="{{object.salonist.salonistprofile.image.url}}" alt="{{object.salonist.get_full_name}}"></a>
													<a href="#">{{object.salonist.get_full_name}}</a>
												</h2>
											</td>
											<td>{{object.date}}</td>
											<td>{{object.created}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}
{% include 'manager/includes/data-table-scripts.html' %}