{% extends 'manager/layout/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Trainings List{% endblock title %}
{% include 'manager/includes/data-table-styles.html' %}
{% include 'manager/includes/header.html' %}
{% include 'manager/includes/sidebar.html' %}
{% block content %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">List of Pending Trainings <a href="{% url 'manager:pending_training_pdf' %}" class="text-align-right" style="text-align: right;"> <i class="fe fe-print"> Generate pdf</i></a></h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'manager:index' %}">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:(0);">Pending Training</a></li>
							<li class="breadcrumb-item active">Pending Training</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>#</th>
											<th>service</th>
											<th>Salonist</th>
											<th>price</th>
											<th>start date</th>
											<th>end date</th>
											<th>status</th>
											<th class="text-right">Action</th>
										</tr>
									</thead>
									<tbody>
										{% for object in object_list %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{object.service.name}}</td>
											<td>{{object.salonist.get_full_name}}</td>
											<td>Ksh {{object.price|floatformat:2|intcomma}}</td>
											<td>{{object.date}}</td>
											<td>{{object.end_date}}</td>
											<td>
												{% if object.is_active and not object.ended %}
													Ongoing
												{% elif not object.is_active and object.ended %}
													Ended
												{% else %}
													Pending
												{% endif %}
											</td>
											<td class="text-right">
												<div class="table-action">
														<button class="btn btn-sm bg-info-light confirm" id="{{object.id}}"
																data-url="{% url 'finance:confirm_booking_payment' booking_id=object.id %}"
																data-slug="{{object.id}}">
															<i class="fe fe-check"></i> Approve
														</button>
<!--													<a href="#" class="btn btn-sm bg-primary-light">-->
<!--														<i class="fe fe-print"></i> Print-->
<!--													</a>-->
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}
{% include 'manager/includes/data-table-scripts.html' %}