{% extends 'manager/layout/base.html' %}
{% load static %}
{% block title %}Salonists List{% endblock title %}
{% include 'manager/includes/data-table-styles.html' %}
{% include 'manager/includes/header.html' %}
{% include 'manager/includes/sidebar.html' %}
{% block content %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">List of Salonists</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'manager:index' %}">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
							<li class="breadcrumb-item active">salonist</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>#</th>
											<th>salonist Name</th>
											<th>Email</th>
											<th>Phone</th>
											<th>Status</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										{% for object in object_list %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
												<h2 class="table-avatar">
													<a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{object.salonistprofile.image.url}}" alt="{{object.get_full_name}}"></a>
													<a href="#">{{object.get_full_name}}</a>
												</h2>
											</td>
											<td>{{object.email}}</td>
											<td>{{object.salonistprofile.phone_number}}</td>
											<td>
												{% if object.is_active and not object.is_archived and object.is_verified %}
												Active
												{% elif object.is_active and object.is_archived and object.is_verified %}
												Archived
												{% elif object.is_active and not object.is_archived and not object.is_verified %}
												Unverified
												{% endif %}
											</td>
											<td>{{object.created}}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}
{% include 'manager/includes/data-table-scripts.html' %}