{% load static %}
<!-- Favicons -->
<link type="image/x-icon" href="{% static 'customer/assets/img/favicon.png' %}" rel="icon">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'customer/assets/css/bootstrap.min.css' %}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{% static 'customer/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'customer/assets/plugins/fontawesome/css/all.min.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'customer/assets/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">