{% extends 'manager/layout/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">

	<div class="content container-fluid">
	    {% include 'includes/messages.html' %}
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">{{request.user.get_full_name}}</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Dashboard</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fe fe-users"></i>
							</span>
							<div class="dash-count">
								<h3>{{salonists_count}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Salonists</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-success">
								<i class="fe fe-credit-card"></i>
							</span>
							<div class="dash-count">
								<h3>{{customers_count}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Customers</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-danger border-danger">
								<i class="fe fe-money"></i>
							</span>
							<div class="dash-count">
								<h3>{{appointment_count}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Appointment</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fe fe-folder"></i>
							</span>
							<div class="dash-count">
								<h3>Ksh {{total_amount}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Revenue</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--		<div class="row">-->
<!--			<div class="col-md-12 col-lg-6">-->

<!--				&lt;!&ndash; Sales Chart &ndash;&gt;-->
<!--				<div class="card card-chart">-->
<!--					<div class="card-header">-->
<!--						<h4 class="card-title">Revenue</h4>-->
<!--					</div>-->
<!--					<div class="card-body">-->
<!--						<div id="morrisArea"></div>-->
<!--					</div>-->
<!--				</div>-->
<!--				&lt;!&ndash; /Sales Chart &ndash;&gt;-->

<!--			</div>-->
<!--			<div class="col-md-12 col-lg-6">-->

<!--				&lt;!&ndash; Invoice Chart &ndash;&gt;-->
<!--				<div class="card card-chart">-->
<!--					<div class="card-header">-->
<!--						<h4 class="card-title">Status</h4>-->
<!--					</div>-->
<!--					<div class="card-body">-->
<!--						<div id="morrisLine"></div>-->
<!--					</div>-->
<!--				</div>-->
<!--				&lt;!&ndash; /Invoice Chart &ndash;&gt;-->

<!--			</div>-->
<!--		</div>-->
		<div class="row">
			<div class="col-md-6 d-flex">

				<!-- Recent Orders -->
				<div class="card card-table flex-fill">
					<div class="card-header">
						<h4 class="card-title">Salonists List</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Salonist Name</th>
										<th>Speciality</th>
<!--										<th>Earned</th>-->
<!--										<th>Reviews</th>-->
									</tr>
								</thead>
								<tbody>
								{% for object in salonists %}
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{object.salonistprofile.image.url}}" alt="User Image"></a>
												<a href="#">{{object.get_full_name}}</a>
											</h2>
										</td>
										<td>
											{% for style in object.salonistservice_set.all %}
											<tr><td>{{style.service.name}}</td></tr>
											{% endfor %}
										</td>
<!--										<td>$3200.00</td>-->
<!--										<td>-->
<!--											<i class="fe fe-star text-warning"></i>-->
<!--											<i class="fe fe-star text-warning"></i>-->
<!--											<i class="fe fe-star text-warning"></i>-->
<!--											<i class="fe fe-star text-warning"></i>-->
<!--											<i class="fe fe-star-o text-secondary"></i>-->
<!--										</td>-->
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->

			</div>
			<div class="col-md-6 d-flex">

				<!-- Feed Activity -->
				<div class="card  card-table flex-fill">
					<div class="card-header">
						<h4 class="card-title">Customers List</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Name</th>
										<th>Phone</th>
									</tr>
								</thead>
								<tbody>
									{% for object in customers %}
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{object.customerprofile.image.url}}" alt="{{object.get_full_name}}"></a>
												<a href="#">{{object.get_full_name}} </a>
											</h2>
										</td>
										<td>{{object.customerprofile.phone_number}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Feed Activity -->

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<!-- Recent Orders -->
				<div class="card card-table">
					<div class="card-header">
						<h4 class="card-title">Appointment List</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Salonist Name</th>
										<th>Service Name</th>
										<th>Customer Name</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
								{% for object in appointments %}
									<tr>
										<td>{{object.salonist.get_full_name}}</a></td>
										<td>{{object.booking.service.name}}</a></td>
										<td>{{object.booking.customer.get_full_name}}</a></td>
										<td>{{object.date}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->

			</div>
		</div>

	</div>
</div>
<!-- /Page Wrapper -->
{% endblock content %}