{% extends 'customer/layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
			
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'customer:index' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Book Appointment</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">Book Appointment</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->

	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				{% include 'customer/includes/sidebar.html' %}

				<div class="col-md-7 col-lg-8 col-xl-9">
					<div class="card">
						<div class="card-body pt-0">

							<!-- Tab Menu -->
							<nav class="user-tabs mb-4">
								<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
									<li class="nav-item">
										<a class="nav-link active" href="#edit-change-password" data-toggle="tab">Book Appointment</a>
									</li>
								</ul>
							</nav>
							<!-- /Tab Menu -->

							<!-- Tab Content -->
							<div class="tab-content pt-0">

								<!-- Appointment Tab -->
								<div id="edit-change-password" class="tab-pane fade show active">
									<div class="card card-table mb-0">
										<div class="card-body">
											<!-- Checkout Form -->
											<form action="{% url 'customer:book_appointment' %}" method="post" id="book_appointment">
												{% csrf_token %}
												<!-- Personal Information -->
												<div class="info-widget">
													<h4 class="card-title">Book Appointment</h4>
													<div class="row">
														<div class="col-md-12 col-sm-12">
															<div class="form-group card-label">
																<label>Booking</label>
																{% render_field form.booking class+="form-control" %}
															</div>
															<div class="text-danger" id="error-booking">{{form.errors.booking}}</div>
														</div>
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>Start Date Time</label>
																{% render_field form.date type="datetime-local" class+="form-control" %}
															</div>
															<div class="text-danger" id="error-date">{{form.errors.date}}</div>
														</div>
														<div class="col-md-6 col-sm-12">
															<div class="form-group card-label">
																<label>Stop Date Time</label>
																{% render_field form.stop_date type="datetime-local" class+="form-control" %}
															</div>
															<div class="text-danger" id="error-stop_date">{{form.errors.stop_date}}</div>
														</div>
<!--														<div class="col-md-6 col-sm-12">-->
<!--															<div class="form-group card-label">-->
<!--																<label>Confirm Password</label>-->
<!--																{{form.new_password2|add_class:"form-control"}}-->
<!--															</div>-->
<!--															<div class="text-danger" id="error-new_password2">{{form.errors.new_password2}}</div>-->
<!--														</div>-->
													</div>
												</div>
												<!-- /Personal Information -->
												<!-- Submit Section -->
												<div class="submit-section mt-4">
													<button type="submit" class="btn btn-primary submit-btn" id="id-book-appointment-btn">Book</button>
												</div>
												<!-- /Submit Section -->
											</form>
											<!-- /Checkout Form -->
										</div>
									</div>
								</div>
								<!-- /Appointment Tab -->
							</div>
							<!-- Tab Content -->

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- /Page Content -->

{% endblock content %}
{% block scripts %}
<script src="{% static 'customer/assets/js/book-appointment.js' %}"></script>
{% endblock scripts %}