{% extends 'manager/layout/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Adding Apprenticeship{% endblock title %}
{% include 'manager/includes/form-styles.html' %}
{% include 'manager/includes/header.html' %}
{% include 'manager/includes/sidebar.html' %}
{% block content %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col">
						<h3 class="page-title">Add Apprenticeship</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'manager:index' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Add Apprenticeship</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-12">
					{% include 'includes/messages.html' %}
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Adding Apprenticeship</h4>
						</div>
						<div class="card-body">
							<form action="." method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="form-group">
									<label>Salonist</label>
									{% render_field form.salonist class+="form-control" %}
									<div class="text-danger">{{form.errors.salonist}}</div>
								</div>
								<div class="form-group">
									<label>Date</label>
									{% render_field form.date class+="form-control" type="date" %}
									<div class="text-danger">{{form.errors.date}}</div>
								</div>
								<div class="text-right">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}
{% include 'manager/includes/form-scripts.html' %}