{% extends 'manager/layout/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Adding salonist{% endblock title %}
{% include 'manager/includes/form-styles.html' %}
{% include 'manager/includes/header.html' %}
{% include 'manager/includes/sidebar.html' %}
{% block content %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col">
						<h3 class="page-title">Add salonist</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'manager:index' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Add salonist</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-12">
					{% include 'includes/messages.html' %}
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Adding salonist</h4>
						</div>
						<div class="card-body">
							<form action="." method="post">
								{% csrf_token %}
								<div class="form-group">
									<label>first name</label>
									{{ form.first_name|add_class:"form-control" }}
									<div class="text-danger">{{form.errors.first_name}}</div>
								</div>
								<div class="form-group">
									<label>last name</label>
									{{ form.last_name|add_class:"form-control" }}
									<div class="text-danger">{{form.errors.last_name}}</div>
								</div>
								<div class="form-group">
									<label>email</label>
									{{ form.email|add_class:"form-control" }}
									<div class="text-danger">{{form.errors.email}}</div>
								</div>
								<div class="form-group">
									<label>Password</label>
									{{ form.password1|add_class:"form-control" }}
									<div class="text-danger">{{form.errors.password1}}</div>
								</div>
								<div class="form-group">
									<label>Confirm Password</label>
									{{ form.password2|add_class:"form-control" }}
									<div class="text-danger">{{form.errors.password2}}</div>
								</div>
								<div class="text-right">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}
{% include 'manager/includes/form-scripts.html' %}