{% extends 'salonist/layout/base.html' %}
{% load static %}
{% block title %}Appointment List{% endblock title %}
{% include 'salonist/includes/data-table-styles.html' %}
{% include 'salonist/includes/header.html' %}
{% include 'salonist/includes/sidebar.html' %}
{% block content %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">List of Apprenticeships</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'salonist:index' %}">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:(0);">Apprenticeships</a></li>
							<li class="breadcrumb-item active">Apprenticeships</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Customer</th>
											<th>date</th>
											<th>status</th>
										</tr>
									</thead>
									<tbody>
										{% for object in object_list %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{object.customer}}</td>
											<td>{{object.date}}</td>
											<td>
												{% if object.attended %}
													Attended
												{% else %}
													Did not attend
												{% endif %}
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->

{% endblock content %}
{% include 'salonist/includes/data-table-scripts.html' %}