{% extends 'trainee/layout/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">

	<div class="content container-fluid">
	    {% include 'includes/messages.html' %}
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">{{request.user.get_full_name}}</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Dashboard</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fe fe-book"></i>
							</span>
							<div class="dash-count">
								<h3>{{pending_trainee_count}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Pending Training Approval</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-{{pending_trainee_per}}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-success">
								<i class="fe fe-book"></i>
							</span>
							<div class="dash-count">
								<h3>{{approved_trainee_count}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Approved Training</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-{{approved_trainee_per}}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-danger border-danger">
								<i class="fe fe-book"></i>
							</span>
							<div class="dash-count">
								<h3>{{paid_trainee_count}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Paid Trainings</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-{{paid_trainee_per}}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fe fe-book"></i>
							</span>
							<div class="dash-count">
								<h3>{{not_paid_trainee_count}}</h3>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Not Paid Trainings</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-{{not_paid_trainee_per}}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 d-flex">

				<!-- Trainings -->
				<div class="card card-table flex-fill">
					<div class="card-header">
						<h4 class="card-title">Trainings List
							<a href="{% url 'trainee:training_application_receipt_pdf' %}" class="text-align-right" style="text-align: right;"> <i class="fe fe-print"> Generate pdf</i></a>
						</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Code</th>
										<th>training</th>
										<th>Approval status</th>
										<th>Payment status</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
								{% for object in object_list %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>{{object.code}}</td>
										<td>{{object.training.service.name}}</td>
										<td>
											{% if object.is_approved %}
												Approved
											{% else %}
												Pending
											{% endif %}
										</td>
										<td>
											{% if object.is_paid %}
												Paid
											{% else %}
												Not Paid
											{% endif %}
										</td>
										<td>{{object.training.date}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Trainings -->

			</div>
		</div>

	</div>
</div>
<!-- /Page Wrapper -->
{% endblock content %}