{% load static %}
<!-- jQuery -->
<script src="{% static 'customer/assets/js/jquery.min.js' %}"></script>
<!-- Bootstrap Core JS -->
<script src="{% static 'customer/assets/js/popper.min.js' %}"></script>
<script src="{% static 'customer/assets/js/bootstrap.min.js' %}"></script>
<!-- Sticky Sidebar JS -->
<script src="{% static 'customer/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'customer/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
<!-- Select2 JS -->
<script src="{% static 'customer/assets/plugins/select2/js/select2.min.js' %}"></script>
<!-- Datetimepicker JS -->
<script src="{% static 'customer/assets/js/moment.min.js' %}"></script>
<script src="{% static 'customer/assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<!-- Fancybox JS -->
<script src="{% static 'customer/assets/plugins/fancybox/jquery.fancybox.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'customer/assets/js/script.js' %}"></script>