{% extends 'trainee/layout/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Trainings {% endblock title %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">

	<div class="content container-fluid">
	    {% include 'includes/messages.html' %}
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Available Trainings</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Available Trainings</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			{% for object in object_list %}
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card">
						<div class="card-body">
							<div class="dash-widget-header">
<!--								<span class="dash-widget-icon text-primary border-primary">-->
<!--									<i class="fe fe-book"></i>-->
<!--								</span>-->
								<h4>Service :: {{object.service.name}}</h4>
							</div>
							<div class="dash-widget-info">
								<h6 class="text-muted">Instructor :: {{object.salonist.get_full_name}}</h6>
								<h6 class="text-muted">Price :: Ksh {{object.price|floatformat:2|intcomma}}</h6>
								<h6 class="text-muted">Duration :: {{object.duration}}</h6>
								<h6 class="text-muted">Start Date :: {{object.date}}</h6>
								<h6 class="text-muted">End Date :: {{object.end_date}}</h6>
								<div class="">
									<button data-url="{% url 'trainee:apply_for_training' slug=object.id %}"
											data-slug="{{object.id}}" id="{{object.id}}"
											class="btn btn-primary apply-btn">
										<i class="fe fe-book"></i> Apply
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
</div>
<!-- /Page Wrapper -->
{% endblock content %}
{% block scripts %}
<script src="{% static 'trainee/js/apply-training.js' %}"></script>
{% endblock scripts %}