<!DOCTYPE html>
<html lang="en">
<head>
		{% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>{% block title %} {% endblock %} | Salonist Portal</title>
        {% include 'manager/accounts/includes/styles.html' %}
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<img class="img-fluid" src="{% static 'manager/assets/img/logo-white.png' %}" alt="Logo">
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>{% block h1 %} {% endblock %}</h1>
								<p class="account-subtitle">{% block p %}{% endblock %}</p>
                                {% include 'includes/messages.html' %}
								{% block content %}{% endblock %}
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->
        {% include 'manager/accounts/includes/scripts.html' %}
		{% block scripts %}{% endblock %}
    </body>
</html>